numpy
PyQt5
matplotlib
qdarkstyle
pyautogui
PIL
pytesseract
ffmpeg-python
Pillow~=10.0.0
progressbar~=2.5
uncertainties~=3.1.7
h5py~=3.9.0
gTTS~=2.2.4
pytz~=2022.4
termcolor~=2.0.1
scipy~=1.9.2
pykeyboard~=0.1.5
telegram-send